<h1><%= $player_1_name.print_name %> vs. <%= $player_2_name.print_name %></h1>

<h2><%= $player_1_name.print_name %> HP: 100<br></h2>
<h2><%= $player_2_name.print_name %> HP: 100</h2>

<a href="/attack">Attack</a>